attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
deep-translator==1.11.4
Flask==3.1.0
humanize==4.12.2
idna==3.10
imageio==2.37.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
lazy_loader==0.4
llvmlite==0.44.0
MarkupSafe==3.0.2
networkx==3.4.2
numba==0.61.2
numpy==1.26.4
opencv-python-headless==4.11.0.86
packaging==25.0
pdf2image==1.17.0
pillow==11.2.1
platformdirs==4.3.7
pooch==1.8.2
PyMatting==1.1.13
PyPDF2==3.0.1
pytesseract==0.3.13
python-dotenv==1.1.0
qrcode==8.1
referencing==0.36.2
rembg==2.0.65
reportlab==4.3.1
requests==2.32.3
rpds-py==0.24.0
scikit-image==0.25.2
scipy==1.15.2
soupsieve==2.7
tifffile==2025.3.30
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==3.1.3
